body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #4c2b08;
    color: #4c2b08;
}

form {
    margin: 15vh auto;
    height: 80vh;
    width: 30vw;
    border-radius: 2rem;
    background-color: #CDB693;

}

.form_div {
    padding: 40px 55px 30px 70px;
}

.form_div div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.form_div input{
    height: 30px; 
    width: 65%;
    border: 2px solid #4c2b08;
    border-radius: 1rem;
    background-color: inherit;
    margin-left: 30px;
    outline: none;
}


.btn {
    background-color:#4c2b08;
    color: #fff1e4;
    height: 40px;
    width: 140px;
    border-radius: 1.2rem;
    border: none;
    margin: 0 auto;
}